.appendlistcon {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background:#ecece9;
}

.head {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding:5px;
    background:white;
    z-index:99;
    .btnscon {
        //text-align: right;
        //margin-bottom: 5px;
        display: flex;
        .searchcon {
            flex-grow: 1;
            text-align: right;
        }
        .search {
            line-height: 30px;
            display: flex;
            vertical-align: top;
            border: 1px solid #D7D7D7;
            background: white;
            border-radius: 5px;
            overflow: hidden;
            box-sizing: border-box;
            width:100%;
            .input {
                flex-grow: 1;
                input {
                    height: 30px;
                    outline: none;
                    border: 0;
                    padding: 0 0 0 8px;
                    vertical-align: top;
                    width:100%;
                }
            }
            .icon {
                display: inline-block;
                vertical-align: top;
                width: 30px;
                text-align: center;
                font-size: 18px;
            }
        }
        .btns {
            display: inline-block;
            vertical-align: top;
            line-height: 30px;
            border: 1px solid #E5E3E3;
            border-right: 0;
            border-radius: 5px;
            overflow: hidden;
            background:white;
            margin-right:5px;
        }
        .btn {
            display: inline-block;
            vertical-align: top;
            border-right: 1px solid #E5E3E3;
            cursor: default;
            .label {
                width: 30px;
                text-align: center;
                display: inline-block;
                vertical-align: top;
                color:#1f8ca5;
                font-size: 18px;
            }
            .title {
                display: inline-block;
                padding: 0 10px 0 0;
                font-size: 12px;
                vertical-align: top;
                display: none;
            }
            &:hover {
                background: #F7F7F7;
            }
            &:active {
                background: #E5E3E3;
            }
        }
    }
}

.listcon {
    position: absolute;
    left: 0;
    top: 42px;
    right: 0;
    bottom: 0;
    overflow: auto;
    border-top: 1px solid #D7D7D7;
}
.table-total{
    position:absolute;
    bottom:10px;
    left:5px;
    background:rgba(0,0,0,.3);
    line-height:25px;
    font-size:12px;
    padding:0 10px 0 10px;
    border-radius: 15px;
    color:white;
}
.loading {
    line-height: 40px;
    text-align: center;
    color:#d7d7d7;
    .licon {
        width: 30px;
        text-align: center;
        display: inline-block;
        vertical-align: top;
    }
    .ldesc {
        display: inline-block;
        vertical-align: top;
    }
}
.loadingb{
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    border-bottom:1px solid #F1F1F1;
    height:100%;
    color:#d7d7d7;
    .liconb{
        font-size:80px;
        line-height:100px;
    }
    .ldescb{
        font-size:12px;
    }
}
@media only screen and (max-width: 480px) {
    .head {
        box-shadow: 0 1px 3px rgba(0,0,0,.3);
    }
}