.btnscon{
    //text-align: right;
    margin-bottom: 5px;
    display: flex;
    .searchcon{
        flex-grow: 1;
        text-align: right;
    }
    .search{
        line-height:30px;
        display:inline-block;
        vertical-align: top;
        border:1px solid #D7D7D7;
        background:white;
        border-radius: 5px;
        overflow: hidden;
        box-sizing: border-box;
        .input{
            display: inline-block;
            vertical-align: top;
            input{
                height:30px;
                outline: none;
                border:0;
                padding:0 0 0 8px;
                vertical-align: top;
                width:100%;
            }
        }
        .icon{
            display: inline-block;
            vertical-align: top;
            width:30px;
            text-align: center;
        }
    }
    .btns{
        display: inline-block;
        vertical-align: top;
        line-height:30px;
        border:1px solid #E5E3E3;
        border-right:0;
        border-radius: 5px;
        overflow: hidden;
        background:white;
    }
    .btn{
        display:inline-block;
        vertical-align: top;
        border-right:1px solid #E5E3E3;
        cursor:default;
        .label{
            width:30px;
            text-align: center;
            display: inline-block;
            vertical-align: top;
        }
        .title{
            display: inline-block;
            padding:0 10px 0 0;
            font-size:12px;
            vertical-align: top;
        }
        &:hover{
            background:#F7F7F7;
        }
        &:active{
            background:#E5E3E3;
        }
    }
}
.table{
    border:1px solid #F1F1F1;
    border-bottom: 0;
    border-radius: 5px;
    overflow: hidden;
    .srow{
        display: flex;
        border-bottom: 1px solid #F1F1F1;
    }
    .row{
        flex-grow: 1;
        line-height:40px;
        display: flex;
        overflow: hidden;
        background:white;
        .col{
            padding:0 10px 0 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            .colname{
                display: none;
            }
            .colvalue{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        &.header{
            line-height:30px;
            background:#FAFAFA;
            font-weight: 400;
        }
    }
    .deals{
        display: flex;
        line-height:40px;
        background:white;
        .deal{
            width:40px;
            text-align: center;
            font-size: 16px;
            color: #5f5c5c;
            background: transparent;
            &:hover{
                background:#F7F7F7;
            }
            &:active{
                background:#E5E3E3;
            }
        }
        &.header{
            line-height:30px;
            background:#FAFAFA;
            font-weight: 400;
        }
    }
    .nodata{
        height:300px;
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        -webkit-box-orient: vertical;
        border-bottom:1px solid #F1F1F1;
        .desc {
            color:#D4D4D4;
            text-align: center;
            .a {
                font-size:80px;
                line-height:100px;
            }
            .b {
                font-size:12px;
            }
        }
    }
}
.footer{
    margin-top:20px;
    .pages{
        line-height:30px;
        text-align: center;
    }
    .page{
        display:inline-block;
        width:30px;
        text-align: center;
        border:1px solid #D7D7D7;
        margin:5px;
        cursor:default;
        border-radius: 2px;
        background:white;
        &:hover{
            background:#EDEDED;
        }
        &.disabled{
            color:#E3E3E3;
            border:1px solid #E8E8E8;
            background:#FFFCFC;
            &:hover{
                background:#FFFCFC;
            }
        }
        &.none{
            display:none;
        }
        &.current{
            background:#1f8ca4;;
            color:white;
            &:hover{
                background:#1f8ca4;;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .btnscon{
        margin:0;
        padding:5px;
        .btns{
            display: inline-block;
            line-height:30px;
            border:1px solid #E5E3E3;
            border-right:0;
            border-radius: 5px;
            overflow: hidden;
            background:white;
        }
        .btn{
            display:inline-block;
            vertical-align: top;
            border-right:1px solid #E5E3E3;
            cursor:default;
            .label{
                width:30px;
                text-align: center;
                display: inline-block;
            }
            .title{
                display: inline-block;
                padding:0 10px 0 0;
                font-size:12px;
            }
            &:hover{
                background:#F7F7F7;
            }
            &:active{
                background:#E5E3E3;
            }
        }
    }
    .table{
        text-align: right;
        overflow: inherit;
        .srow{
            display: block;
            background:#FAFAFA;
            margin:5px 0 0 0;
            border:0;
            box-shadow: 0 1px 3px rgba(0,0,0,.3);
        }
        .row{
            text-align: left;
            background: white;
            border-bottom: 1px solid #F2F2F2;
            display: block;
            padding:15px 0 5px 0;
            overflow: hidden;
            .col{
                padding:0 10px 0 10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: 25px;
                box-sizing: border-box;
                .colname{
                    display: inline-block;
                }
            }
            &.header{
                display: none;
            }
        }
        .deals{
            text-align: right;
            display: inline-block;
            .deal{
                display: inline-block;
                vertical-align: top;
                font-size: 16px;
                color: #1f8ca5;
                background: #FAFAFA;
            }
        }
        .nodata{
            background:white;
        }
    }
}