$toolHeight:35px;
$footHeight:35px;
$lineColor:#F4F4F4;
$borderColor:#D7D7D7;

.table-tabletools{
    .table-tabletools-tool{
        display: inline-block;
        padding:0 10px 0 10px;
    }
}
.table-tableheader{
    border-bottom: 1px solid #D7D7D7;
    position: relative;
    .table-tableheader-con{
    }
    .table-tableheader-dropdown{
        width:30px;
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        background:white;
        .table-tableheader-dropdown-arrow{
            text-align: center;
            .icon{
                transform: rotate(180deg);
            }
        }
        .table-tableheader-dropdown-list{
            position:absolute;
            top:100%;
            right:0;
            background:white;
            border:1px solid $borderColor;
            z-index:99;
            display:none;
        }
        .table-tableheader-dropdown-list-item{
            line-height:30px;
            display:flex;
            cursor:default;
            &:hover{
                background:#F4F4F4;
            }
        }
        .table-tableheader-dropdown-list-item-a{
            width:30px;
            text-align: center;
        }
        .table-tableheader-dropdown-list-item-b{
            flex:1;
            padding:0 10px 0 0;
        }
        &:hover{
            .table-tableheader-dropdown-list{
                display:block;
            }
        }
    }
    .table-tableheader-left{
        position:absolute;
        left:0;
        top:0;
    }
    .table-tableheader-right{
        position:absolute;
        top:0;
        right:0;
        overflow: hidden;
    }
    .table-tableheader-rows{
        white-space: nowrap;
    }
    .table-tableheader-col{
        display: inline-block;
        display: inline-block;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        border-right:1px solid #D7D7D7;
        padding:0 5px 0 5px;
        vertical-align: top;
        box-sizing: border-box;
    }
    &.table-doubletableheader{
        border:0;
    }
}
.table-tablebody{
    overflow-x: hidden;
    .table-tablebody-rows{
        border-bottom: 1px solid $borderColor;
        white-space: nowrap;
        transition:all ease-out .5s;
        background:white;
        &:nth-child(even){
            background:$lineColor;
        }
        &.table-row-selected{
            background:#5CB85C;
            color:white;
        }
        &.table-row-warn{
            background:#F0AD4E;
            color:white;
        }
        &.table-row-error{
            background:#D9534F;
            color:white;
        }
    }
    .table-tablebody-col{
        display: inline-block;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-right:1px solid $borderColor;
        padding:0 5px 0 5px;
        vertical-align: top;
        box-sizing: border-box;
        &.table-col-center{
            text-align: center;
        }
        &.table-col-left{
            text-align: left;
        }
        &.table-col-right{
            text-align: right;
        }
        &.table-col-num{
            text-align: center;
        }
        &.table-col-deal{
            text-align: center;
            transition:all ease-out .5s;
            &:hover{
                background:#EDEDED;
            }
        }
        &.table-col-checkbox{
            text-align: center;
        }
    }
    .table-tablebody-left{
        position:absolute;
        left:0;
        top:0;
        bottom:0;
    }
    .table-tablebody-right{
        position:absolute;
        top:0;
        right:0;
        bottom:0;
    }
}
.table-tablefoot{
    line-height:$footHeight;
    .table-tablefoot-pages{
        display: inline-block;
        vertical-align: top;
    }
    .table-tablefoot-pages-page{
        display: inline-block;
        padding:0 10px 0 10px;
        vertical-align: top;
        &.table-page-current{
            color:blue;
        }
        &.table-page-disabled{
            color:$borderColor;
        }
        &.table-page-none{
            display: none;
        }
    }
    .table-tablefoot-btns{
        display: inline-block;
        vertical-align: top;
        .table-tablefoot-btns-num{
            display: inline-block;
            vertical-align: top;
            input{
                width:30px;
            }
        }
        .table-tablefoot-btns-btn{
            display: inline-block;
            vertical-align: top;
            padding:0 10px 0 10px;
        }
    }
}

.table-simple{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    cursor: default;
    .table-simple-con{
        position:absolute;
        left:0;
        top:0;
        right:0;
        bottom:$toolHeight;
        border:1px solid $borderColor;
        overflow: hidden;
        .table-simple-head{
            position:absolute;
            left:0;
            top:0;
            right:0;
        }
        .table-simple-body{
            overflow: auto;
            position:absolute;
            left:0;
            right:0;
            bottom:0;
            background:#DADADA;
        }
    }
    .table-simple-foot{
        position:absolute;
        left:0;
        right:0;
        bottom:0;
    }
}
.table-fntable{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    cursor: default;
    .table-fn-tool{
        position: absolute;
        left:0;
        top:0;
        right:0;
        height:$toolHeight;
        line-height:$toolHeight;
    }
    .table-fn-con {
        position:absolute;
        left:0;
        top:$toolHeight;
        right:0;
        bottom:$footHeight;
        border:1px solid $borderColor;
        .table-fn-head {
            position:absolute;
            left:0;
            top:0;
            right:0;
        }
        .table-fn-body {
            position: absolute;
            left:0;
            right:0;
            bottom:0;
            overflow: auto;
            background:#DADADA;
        }
    }
    .table-fn-foot{
        position: absolute;
        left:0;
        right:0;
        bottom:0;
    }
}
.table-doublefntable {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    cursor: default;
    .table-double-tool{
        position:absolute;
        left:0;
        top:0;
        right:0;
        line-height:$toolHeight;
    }
    .table-double-con {
        position: absolute;
        left:0;
        right:0;
        top:$toolHeight;
        bottom:$footHeight;
        border:1px solid $borderColor;
        background:#DADADA;
        .table-double-head {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            border-bottom: 1px solid #D7D7D7;
            background:white;
        }
        .table-double-body {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background:#DADADA;
            .table-tablebody-left{
                overflow: hidden;
            }
            .table-tablebody-right{
                overflow: auto;
            }
            .table-tablebody-right-con{
                float:left;
            }
        }
    }
    .table-double-foot{
        position:absolute;
        left:0;
        right:0;
        bottom:0;
    }
}
