$toolHeight:35px;
$footHeight:35px;
$lineColor:#F4F4F4;
$borderColor:#D7D7D7;

.table-tableheader{
    .table-tableheader-left{
        position:absolute;
        left:0;
        top:0;
    }
    .table-tableheader-right{
        position:absolute;
        top:0;
        right:0;
        overflow: hidden;
    }
    .table-tableheader-rows{
        border-bottom: 1px solid #D7D7D7;
        white-space: nowrap;
    }
    .table-tableheader-col{
        display: inline-block;
        display: inline-block;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        border-right:1px solid #D7D7D7;
        padding:0 5px 0 5px;
        vertical-align: top;
        box-sizing: border-box;
    }
}
.table-tablebody{
    .table-tablebody-rows{
        border-bottom: 1px solid $borderColor;
        white-space: nowrap;
        display: inline-block;
        &:nth-child(even){
            background:$lineColor;
        }
        &.table-row-selected{
            background:lightgreen;
        }
        &.table-row-warn{
            background:lightyellow;
        }
        &.table-row-error{
            background:indianred;
        }
    }
    .table-tablebody-col{
        display: inline-block;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-right:1px solid $borderColor;
        padding:0 5px 0 5px;
        vertical-align: top;
        box-sizing: border-box;
    }
    .table-tablebody-left{
        position:absolute;
        left:0;
        top:0;
        bottom:0;
    }
    .table-tablebody-right{
        position:absolute;
        top:0;
        right:0;
        bottom:0;
    }
}
.table-tablefoot{
    line-height:$footHeight;
    .table-tablefoot-pages{
        display: inline-block;
        vertical-align: top;
    }
    .table-tablefoot-pages-page{
        display: inline-block;
        padding:0 10px 0 10px;
        vertical-align: top;
        &.table-page-current{
            color:blue;
        }
        &.table-page-disabled{
            color:$borderColor;
        }
        &.table-page-none{
            display: none;
        }
    }
    .table-tablefoot-btns{
        display: inline-block;
        vertical-align: top;
        .table-tablefoot-btns-num{
            display: inline-block;
            vertical-align: top;
            input{
                width:30px;
            }
        }
        .table-tablefoot-btns-btn{
            display: inline-block;
            vertical-align: top;
            padding:0 10px 0 10px;
        }
    }
}

.table-simple{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    .table-simple-con{
        position:absolute;
        left:0;
        top:0;
        right:0;
        bottom:$toolHeight;
        border:1px solid $borderColor;
        .table-simple-head{
            position:absolute;
            left:0;
            top:0;
            right:0;
        }
        .table-simple-body{
            overflow: auto;
            position:absolute;
            left:0;
            right:0;
            bottom:0;
        }
    }
    .table-simple-foot{
        position:absolute;
        left:0;
        right:0;
        bottom:0;
    }
}
.table-fntable{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    .table-fn-tool{
        position: absolute;
        left:0;
        top:0;
        right:0;
        height:$toolHeight;
    }
    .table-fn-con {
        position:absolute;
        left:0;
        top:$toolHeight;
        right:0;
        bottom:$footHeight;
        border:1px solid $borderColor;
        .table-fn-head {
            position:absolute;
            left:0;
            top:0;
            right:0;
        }
        .table-fn-body {
            position: absolute;
            left:0;
            right:0;
            bottom:0;
            overflow: auto;
        }
    }
    .table-fn-foot{
        position: absolute;
        left:0;
        right:0;
        bottom:0;
    }
}
.table-doublefntable {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    .table-double-tool{
        position:absolute;
        left:0;
        top:0;
        right:0;
    }
    .table-double-con {
        position: absolute;
        left:0;
        right:0;
        top:$toolHeight;
        bottom:$footHeight;
        border:1px solid $borderColor;
        .table-double-head {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
        }
        .table-double-body {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            .table-tablebody-left{
                overflow: hidden;
            }
            .table-tablebody-right{
                overflow: auto;
            }
        }
    }
    .table-double-foot{
        position:absolute;
        left:0;
        right:0;
        bottom:0;
    }
}