<!--[simplelist]-->
<div>
    {{list data.list as item}}
    <div>{{item.name}}</div>
    {{/list}}
</div>
<div>
    {{if data.pages}}
    <div class="table-tablefoot-pages">
        {{list data.pages as page}}
        {{if page.name==='prev'}}
        <div class="table-tablefoot-pages-page{{page.disabled===true?' table-page-disabled':''}}" data-bind="click:prev">
            <svg class="mt-icon" style="transform:rotate(-90deg)"><use xlink:href="#mt-icon-chevron-up"></use></svg>
        </div>
        {{elseif page.name==='next'}}
        <div class="table-tablefoot-pages-page{{page.disabled===true?' table-page-disabled':''}}" data-bind="click:next">
            <svg class="mt-icon" style="transform:rotate(90deg)"><use xlink:href="#mt-icon-chevron-up"></use></svg>
        </div>
        {{elseif page.name==='btn'}}
        {{if page.none===true}}
        <div class="table-tablefoot-pages-page table-page-none" data-bind="click:goto" @cache(page)>{{page.num}}</div>
        {{else}}
        {{if page.iscurrent===true}}
        <div class="table-tablefoot-pages-page table-page-current" data-bind="click:goto" @cache(page)>{{page.num}}</div>
        {{else}}
        <div class="table-tablefoot-pages-page" data-bind="click:goto" @cache(page)>{{page.num}}</div>
        {{/if}}
        {{/if}}
        {{elseif page.name==='dot'}}
        {{if page.none===true}}
        <div class="table-tablefoot-pages-page table-page-none">...</div>
        {{else}}
        <div class="table-tablefoot-pages-page">...</div>
        {{/if}}
        {{/if}}
        {{/list}}
    </div>
    {{/if}}
</div>

<!--[traditionlist]-->
<div class="btnscon">
    {{if data.tools.length>0}}
    <div class="btns">
        {{list data.tools as item}}
        <div class="btn" data-bind="click:tool" @cache(item)>
            <div class="label"><svg class=":mt-icon"><use xlink:href="#{{item.icon}}"></use></svg></div>
            <div class="title">{{item.name}}</div>
        </div>
        {{/list}}
    </div>
    {{/if}}
</div>
<div class="table">
    <div class="srow">
        <div class="row header">
            {{list data.cols as item}}
            <div class="col" style="width:{{item.width}}%">{{item.name}}</div>
            {{/list}}
        </div>
        <div class="deals header" style="width:{{data.deals.length*40}}px"></div>
    </div>
    {{if data.list&&data.list.length>0}}
    {{list data.list as item}}
    <div class="srow">
        <div class="row">
            {{list data.cols as sub subindex}}
            <div class="col" style="width:{{data.winwidth?sub.width:100}}%">
                <span class="colname">{{data.cols[subindex].name}}:</span>
                <span class="colvalue">{{item[sub.key]}}</span>
            </div>
            {{/list}}
        </div>
        <div class="deals" style="width:{{data.deals.length*40}}px" @cache(item)>
            {{list data.deals as deal}}
            <div class="deal" title="{{deal.name}}" data-bind="click:deal" @cache(deal)>
                <svg class=":mt-icon"><use xlink:href="#{{deal.icon}}"></use></svg>
            </div>
            {{/list}}
        </div>
    </div>
    {{/list}}
    {{else}}
    <div class="nodata">
        <div class="desc">
            <div class="a"><svg class=":mt-icon"><use xlink:href="#mt-icon-eye-slash"></use></svg></div>
            <div class="b">没有用于显示的数据</div>
        </div>
    </div>
    {{/if}}
</div>
{{if data.list&&data.list.length>0}}
<div class="footer">
    {{if data.pages}}
    <div class="pages">
        {{list data.pages as page}}
        {{if page.name==='prev'}}
        <div class="page{{page.disabled===true?' disabled':''}}" data-bind="click:prev">
            <svg class=":mt-icon" style="transform:rotate(-90deg)">
                <use xlink:href="#mt-icon-chevron-up"></use>
            </svg>
        </div>
        {{elseif page.name==='next'}}
        <div class="page{{page.disabled===true?' disabled':''}}" data-bind="click:next">
            <svg class=":mt-icon" style="transform:rotate(90deg)">
                <use xlink:href="#mt-icon-chevron-up"></use>
            </svg>
        </div>
        {{elseif page.name==='btn'}}
        {{if page.none===true}}
        <div class="page none" data-bind="click:goto" @cache(page)>{{page.num}}</div>
        {{else}}
        {{if page.iscurrent===true}}
        <div class="page current" data-bind="click:goto" @cache(page)>{{page.num}}</div>
        {{else}}
        <div class="page" data-bind="click:goto" @cache(page)>{{page.num}}</div>
        {{/if}}
        {{/if}}
        {{elseif page.name==='dot'}}
        {{if page.none===true}}
        <div class="page none">...</div>
        {{else}}
        <div class="page">...</div>
        {{/if}}
        {{/if}}
        {{/list}}
    </div>
    {{/if}}
</div>
{{/if}}
<!--[appendlistinner]-->
{{log data}}
<div class="btnscon">
    {{if data.tools.length>0}}
    <div class="btns">
        {{list data.tools as item}}
        <div class="btn" data-bind="click:tool" @cache(item)>
            <div class="label"><svg class=":mt-icon"><use xlink:href="#{{item.icon}}"></use></svg></div>
            <div class="title">{{item.name}}</div>
        </div>
        {{/list}}
    </div>
    {{/if}}
</div>
<div class="table">
    {{if data.list&&data.list.length>0}}
        {{list data.list as item}}
        <div class="srow" unquie="{{item.id}}">
            <div class="row">
                {{list data.cols as sub subindex}}
                <div class="col" style="width:{{data.winwidth?sub.width:100}}%">
                    <span class="colname">{{data.cols[subindex].name}}:</span>
                    <span class="colvalue">{{item[sub.key]}}</span>
                </div>
                {{/list}}
            </div>
            <div class="deals" style="width:{{data.deals.length*40}}px" @cache(item)>
                {{list data.deals as deal}}
                <div class="deal" title="{{deal.name}}" data-bind="click:deal" @cache(deal)>
                    <svg class=":mt-icon"><use xlink:href="#{{deal.icon}}"></use></svg>
                </div>
                {{/list}}
            </div>
        </div>
        {{/list}}
    {{/if}}
</div>
<!--[appendlist]-->
<div data-find="list"></div>
{{if data.state==="loading"}}
<div class="loading" data-find="loading">
    <div class="licon"><svg class=":mt-icon :mt-icon-spin"><use xlink:href="#mt-icon-spinner10"></use></svg></div>
    <div class="ldesc">正在加载数据...</div>
</div>
{{elseif data.state==="error"}}
<div class="loading" data-find="loading">
    <div class="ldesc" data-bind="click:refresh">加载数据出错,点击重试</div>
</div>
{{else}}
    {{if data.size>0}}
    <div class="loading" data-find="loading">
        <div class="ldesc">全部数据加载完成</div>
    </div>
    {{else}}
    <div class="loading" data-find="loading">没有用于显示的数据</div>
    {{/if}}
{{/if}}