<!--[tools]-->
<%for(var i=0;i<data.length;i++){%>
<div class="table-tabletools-tool" @cache(data[i])><%=data[i].name;%></div>
<%}%>
<!--[header]-->
<div class="table-tableheader-rows">
<%for(var i=0;i<data.cols.length;i++){%>
    <div class="table-tableheader-col" style="width:<%=data.cols[i].width;%>px;line-height:<%=data.cols[i].height;%>px"><%=data.cols[i].name;%></div>
<%}%>
</div>
<!--[body]-->
<%for(var i=0;i<data.rows.length;i++){%>
<div class="table-tablebody-rows" unique="<%=data.rows[i].id;%>">
    <%for(var t in data.rows[i]){%>
    <div class="table-tablebody-col" style="width:<%=data.rows[i]["__width__"];%>px;line-height:<%=data.rows[i]["__height__"];%>px"><%=data.rows[i][t];%></div>
    <%}%>
</div>
<%}%>
<!--[bodyfn]-->
<%for(var i=0;i<data.rows.length;i++){%>
<div class="table-tablebody-rows" unique="<%=data.rows[i].id;%>">
    <%if(data.rows[i]["__num__"]){%>
    <div class="table-tablebody-col" style="width:<%=data.rows[i]["__num__"].width;%>px;line-height:<%=data.rows[i]["__num__"].height;%>px"><%=(i+1);%></div>
    <%}%>
    <%if(data.rows[i]["__checkbox__"]){%>
    <div class="table-tablebody-col"  style="width:<%=data.rows[i]["__checkbox__"].width;%>px;line-height:<%=data.rows[i]["__checkbox__"].height;%>px"><input type="checkbox"/></div>
    <%}%>
    <%if(data.rows[i]["__deals__"]){%>
        <%for(var ed=0;ed<data.rows[i]["__deals__"].length;ed++){%>
        <div class="table-tablebody-col" style="width:<%=data.rows[i]["__deals__"][ed].width;%>px;line-height:<%=data.rows[i]["__deals__"][ed].height;%>px"><div @cache(data.rows[i]["__deals__"][ed])><%=data.rows[i]["__deals__"][ed].name;%></div></div>
        <%}%>
    <%}%>
    <%for(var t in data.rows[i]){%>
        <div class="table-tablebody-col" style="width:<%=data.rows[i]["__width__"];%>px;line-height:<%=data.rows[i]["__height__"];%>px"><%=data.rows[i][t];%></div>
    <%}%>
</div>
<%}%>
<!--[doublebodyfn]-->
<%for(var i=0;i<data.rows.length;i++){%>
<div class="table-tablebody-rows" unique="<%=data.rows[i].id;%>">
    <%for(var t in data.rows[i]){%>
    <div class="table-tablebody-col" style="width:<%=data.rows[i]["__width__"];%>px;line-height:<%=data.rows[i]["__height__"];%>px"><%=data.rows[i][t];%></div>
<%}%>
</div>
<%}%>
<!--[table]-->
<div class="table-simple-head">
    <@module type="{{data.headType}}"/>
</div>
<div class="table-simple-body">
    <@module type="{{data.bodyType}}"/>
</div>
<div class="table-simple-foot">
    <@module type="{{data.footType}}"/>
</div>
<!--[footer]-->
<div class="table-tablefoot">
    <div class="table-tablefoot-pages">
        <%
            for(var i=0;i<data.pages.length;i++){
            var page=data.pages[i];
        %>
        <%if(page.name==='prev'){%>
            <%if(page.disabled===true){%>
            <div class="table-tablefoot-pages-page table-page-disabled" data-bind="click:prev">prev</div>
            <%}else{%>
            <div class="table-tablefoot-pages-page" data-bind="click:prev">prev</div>
            <%}%>
        <%}%>
        <%if(page.name==='next'){%>
            <%if(page.disabled===true){%>
            <div class="table-tablefoot-pages-page table-page-disabled" data-bind="click:next">next</div>
            <%}else{%>
            <div class="table-tablefoot-pages-page" data-bind="click:next">next</div>
            <%}%>
        <%}%>
        <%if(page.name==='btn'){%>
            <%if(page.none===true){%>
            <div class="table-tablefoot-pages-page table-page-none" data-bind="click:goto" @cache(page)><%=page.num;%></div>
            <%}else{%>
                <%if(page.iscurrent===true){%>
                <div class="table-tablefoot-pages-page table-page-current" data-bind="click:goto" @cache(page)><%=page.num;%></div>
                <%}else{%>
                <div class="table-tablefoot-pages-page" data-bind="click:goto" @cache(page)><%=page.num;%></div>
                <%}%>
            <%}%>
        <%}%>
        <%if(page.name==='dot'){%>
            <%if(page.none===true){%>
            <div class="table-tablefoot-pages-page table-page-none">...</div>
            <%}else{%>
            <div class="table-tablefoot-pages-page">...</div>
            <%}%>
        <%}%>
        <%}%>
    </div>
    <div class="table-tablefoot-btns">
        <div class="table-tablefoot-btns-num"><input type="text"/></div>
        <div class="table-tablefoot-btns-btn">go</div>
    </div>
</div>
<!--[fntable]-->
<div class="table-simple-tool">
    <@module type="{{data.toolType}}"/>
</div>
<div class="table-simple-head">
    <@module type="{{data.headType}}"/>
</div>
<div class="table-simple-body">
    <@module type="{{data.bodyType}}"/>
</div>
<div class="table-simple-foot">
    <@module type="{{data.footType}}"/>
</div>
