<!--[tools]-->
<%for(var i=0;i<data.length;i++){%>
<div class="table-tabletools-tool" @cache(data[i])><%=data[i].name;%></div>
<%}%>
<!--[header]-->
<%
    var cols=data.cols;
%>
<div class="table-tableheader-con">
    <div class="table-tableheader-rows">
    <%for(var i=0;i<cols.length;i++){%>
        <%if(data.cols[i].checkbox===true){%>
        <div class="table-tableheader-col" style="width:<%=cols[i].width;%>px;line-height:<%=data.height;%>px">
            <%if(cols[i].isall){%>
            <input type="checkbox" data-bind="click:checkall" checked="true"/>
            <%}else{%>
            <input type="checkbox" data-bind="click:checkall"/>
            <%}%>
        </div>
        <%}else if(cols[i].disable!==true){%>
        <div class="table-tableheader-col" style="width:<%=cols[i].width;%>px;line-height:<%=data.height;%>px"><%=cols[i].value;%></div>
        <%}%>
    <%}%>
    </div>
</div>
<div class="table-tableheader-dropdown">
    <div class="table-tableheader-dropdown-arrow">a</div>
    <div class="table-tableheader-dropdown-list">
        <%for(var i=0;i<cols.length;i++){%>
        <div class="table-tableheader-dropdown-list-item">
            <div class="table-tableheader-dropdown-list-item-a"><input type="checkbox"/></div>
            <div class="table-tableheader-dropdown-list-item-b"><%=cols[i].value;%></div>
        </div>
        <%}%>
    </div>
</div>
<!--[doubleheader]-->
<%
    var leftWidth=data.leftWidth;
    var leftHeight=data.left.height,rightHeight=data.right.height;
    var leftCols=data.left.cols,rightCols=data.right.cols;
%>
<div class="table-tableheader-left" style="width:<%=leftWidth;%>px">
    <div class="table-tableheader-rows">
        <%for(var i=0;i<leftCols.length;i++){%>
            <%if(leftCols[i].checkbox){%>
            <div class="table-tableheader-col" style="width:<%=leftCols[i].width;%>px;line-height:<%=leftHeight;%>px">
                <%if(leftCols[i].isall){%>
                <input type="checkbox" data-bind="click:checkall" checked="true"/>
                <%}else{%>
                <input type="checkbox" data-bind="click:checkall"/>
                <%}%>
            </div>
            <%}else{%>
            <div class="table-tableheader-col" style="width:<%=leftCols[i].width;%>px;line-height:<%=leftHeight;%>px"><%=leftCols[i].value;%></div>
            <%}%>
        <%}%>
    </div>
</div>
<div class="table-tableheader-right" style="left:<%=leftWidth;%>px" data-find="left">
    <div style="width:5000px">
        <div class="table-tableheader-rows">
            <%for(var i=0;i<rightCols.length;i++){%>
            <div class="table-tableheader-col" style="width:<%=rightCols[i].width;%>px;line-height:<%=rightHeight;%>px"><%=rightCols[i].value;%></div>
            <%}%>
        </div>
    </div>
</div>
<!--[body]-->
<%
    var twidth=0;
    if(data[0]){
        for(var i=0;i<data[0].cols.length;i++){
            if(data[0].cols[i].disable!==true){
                twidth+=data[0].cols[i].width;
            }
        }
    }
%>
<div style="width:<%=twidth;%>px">
    <%for(var i=0;i<data.length;i++){%>
    <%
        var row=data[i],cols=row.cols;
    %>
    <div class="table-tablebody-rows<%=(row.selected?' table-row-selected':'');%>" unique="<%=row.id;%>" data-bind="click:row" @cache(row)>
        <%for(var t in cols){%>
            <%if(cols[t].disable!==true){%>
            <div class="table-tablebody-col" style="width:<%=cols[t].width;%>px;line-height:<%=row.height;%>px"><%=cols[t].value;%></div>
            <%}%>
        <%}%>
    </div>
    <%}%>
</div>
<!--[bodyfn]-->
<%
console.log(data);
%>
<%for(var i=0;i<data.length;i++){%>
<%
    var row=data[i],cols=row.cols;
%>
<div class="table-tablebody-rows<%=(row.selected?' table-row-selected':'');%><%=(row.warn?' table-row-warn':'');%><%=(row.error?' table-row-error':'');%>" unique="<%=row.id;%>" data-bind="click:row" @cache(row)>
    <%for(var m=0;m<cols.length;m++){%>
        <%if(cols[m].key==="__num__"){%>
        <div class="table-tablebody-col" style="width:<%=cols[m].width;%>px;line-height:<%=row.height;%>px"><%=(i+1);%></div>
        <%}else if(cols[m].key==="__checkbox__"){%>
            <%if(row.selected===true){%>
                <div class="table-tablebody-col"  style="width:<%=cols[m].width;%>px;line-height:<%=row.height;%>px"><input type="checkbox" checked="true"/></div>
            <%}else{%>
                <div class="table-tablebody-col"  style="width:<%=cols[m].width;%>px;line-height:<%=row.height;%>px"><input type="checkbox"/></div>
            <%}%>
        <%}else if(cols[m].key==="__deals__"){%>
            <div class="table-tablebody-col" style="width:<%=cols[m].width;%>px;line-height:<%=row.height;%>px"><div @cache(cols[m].value)><%=cols[m].value.name;%></div></div>
        <%}else{%>
            <div class="table-tablebody-col" style="width:<%=cols[m].width;%>px;line-height:<%=row.height;%>px"><%=cols[m].value;%></div>
        <%}%>
    <%}%>
</div>
<%}%>
<!--[doublebodyfn]-->
<%
    var leftRows=data.left,rightRows=data.right;
    var leftWidth=data.leftWidth;
%>
<div class="table-tablebody-left" style="width:<%=leftWidth;%>px;" data-find="left">
    <div style="height:<%=(leftRows.length*leftWidth+100);%>px">
    <%for(var i=0;i<leftRows.length;i++){%>
    <div class="table-tablebody-rows<%=(leftRows[i].selected?' table-row-selected':'');%><%=(leftRows[i].warn?' table-row-warn':'');%><%=(leftRows[i].error?' table-row-error':'');%>"  unique="<%=leftRows[i].id;%>" data-bind="click:row" @cache(leftRows[i])>
        <%
            var cols=leftRows[i].cols;
        %>
        <%for(var d=0;d<cols.length;d++){%>
            <%if(cols[d].key==="__num__"){%>
                <div class="table-tablebody-col" style="width:<%=cols[d].width;%>px;line-height:<%=leftRows[i].height;%>px"><%=(i+1);%></div>
            <%}%>
            <%if(cols[d].key==="__checkbox__"){%>
                <%if(leftRows[i].selected===true){%>
                <div class="table-tablebody-col"  style="width:<%=cols[d].width;%>px;line-height:<%=leftRows[i].height;%>px"><input type="checkbox" checked="true"/></div>
                <%}else{%>
                <div class="table-tablebody-col"  style="width:<%=cols[d].width;%>px;line-height:<%=leftRows[i].height;%>px"><input type="checkbox"/></div>
                <%}%>
            <%}%>
            <%if(cols[d].key==="__deals__"){%>
                <div class="table-tablebody-col" style="width:<%=cols[d].width;%>px;line-height:<%=leftRows[i].height;%>px"><div @cache(cols[d])><%=cols[d].value.name;%></div></div>
            <%}%>
        <%}%>
    </div>
    <%}%>
    </div>
</div>
<div class="table-tablebody-right" style="left:<%=leftWidth;%>px;" data-find="body">
    <div class="table-tablebody-right-con">
        <%for(var i=0;i<rightRows.length;i++){%>
        <%
        var rcols=rightRows[i].cols;
        %>
        <div class="table-tablebody-rows<%=(rightRows[i].selected?' table-row-selected':'');%><%=(rightRows[i].warn?' table-row-warn':'');%><%=(rightRows[i].error?' table-row-error':'');%>" unique="<%=rightRows[i].id;%>" data-bind="click:row" @cache(rightRows[i])>
            <%for(var t=0;t<rcols.length;t++){%>
            <div class="table-tablebody-col" style="width:<%=rcols[t].width;%>px;line-height:<%=rightRows[i].height;%>px"><%=rcols[t].value;%></div>
            <%}%>
        </div>
        <%}%>
    </div>
</div>
<!--[footer]-->
<div class="table-tablefoot">
    <div class="table-tablefoot-pages">
        <%
            for(var i=0;i<data.pages.length;i++){
            var page=data.pages[i];
        %>
        <%if(page.name==='prev'){%>
            <%if(page.disabled===true){%>
            <div class="table-tablefoot-pages-page table-page-disabled" data-bind="click:prev">prev</div>
            <%}else{%>
            <div class="table-tablefoot-pages-page" data-bind="click:prev">prev</div>
            <%}%>
        <%}%>
        <%if(page.name==='next'){%>
            <%if(page.disabled===true){%>
            <div class="table-tablefoot-pages-page table-page-disabled" data-bind="click:next">next</div>
            <%}else{%>
            <div class="table-tablefoot-pages-page" data-bind="click:next">next</div>
            <%}%>
        <%}%>
        <%if(page.name==='btn'){%>
            <%if(page.none===true){%>
            <div class="table-tablefoot-pages-page table-page-none" data-bind="click:goto" @cache(page)><%=page.num;%></div>
            <%}else{%>
                <%if(page.iscurrent===true){%>
                <div class="table-tablefoot-pages-page table-page-current" data-bind="click:goto" @cache(page)><%=page.num;%></div>
                <%}else{%>
                <div class="table-tablefoot-pages-page" data-bind="click:goto" @cache(page)><%=page.num;%></div>
                <%}%>
            <%}%>
        <%}%>
        <%if(page.name==='dot'){%>
            <%if(page.none===true){%>
            <div class="table-tablefoot-pages-page table-page-none">...</div>
            <%}else{%>
            <div class="table-tablefoot-pages-page">...</div>
            <%}%>
        <%}%>
        <%}%>
    </div>
    <div class="table-tablefoot-btns">
        <div class="table-tablefoot-btns-num"><input type="text"/></div>
        <div class="table-tablefoot-btns-btn">go</div>
    </div>
</div>
<!--[table]-->
<div class="table-simple-con">
    <div class="table-simple-head" style="height:<%=data.rowHeight;%>px">
        <@module type="{{data.headType}}"/>
    </div>
    <div class="table-simple-body" style="top:<%=data.rowHeight;%>px">
        <@module type="{{data.bodyType}}"/>
    </div>
</div>
<div class="table-simple-foot">
    <@module type="{{data.footType}}"/>
</div>
<!--[fntable]-->
<div class="table-fn-tool">
    <@module type="{{data.toolType}}"/>
</div>
<div class="table-fn-con">
    <div class="table-fn-head" style="height:<%=data.rowHeight;%>px">
        <@module type="{{data.headType}}"/>
    </div>
    <div class="table-fn-body" style="top:<%=data.rowHeight;%>px">
        <@module type="{{data.bodyType}}"/>
    </div>
</div>
<div class="table-fn-foot">
    <@module type="{{data.footType}}"/>
</div>
<!--[doublefntable]-->
<div class="table-double-tool">
    <@module type="{{data.toolType}}"/>
</div>
<div class="table-double-con">
    <div class="table-double-head" style="height:<%=data.rowHeight;%>px">
        <@module type="{{data.headType}}"/>
    </div>
    <div class="table-double-body" style="top:<%=data.rowHeight;%>px">
        <@module type="{{data.bodyType}}"/>
    </div>
</div>
<div class="table-double-foot">
    <@module type="{{data.footType}}"/>
</div>