<!--[simpletree]-->
<%for(var i=0;i<data.length;i++){%>
    <div class="mt-simpletree-item<%=(data[i]['__state__'].open?' mt-simpletree-item-close':'');%>">
        <div class="mt-simpletree-item-head" @cache(data[i])>
            <%if(data[i].list.length>0){%>
            <div class="mt-simpletree-item-arrow" data-bind="click:arrow">
                <svg class="mt-icon"><use xlink:href="#mt-icon-caret-down"></use></svg>
            </div>
            <%}%>
            <div class="mt-simpletree-item-name"><%=data[i].name;%></div>
        </div>
        <div class="mt-simpletree-item-body">
            <@self data="{{data[i].list}}"/>
        </div>
    </div>
<%}%>
<!--[selecttree]-->
<%for(var i=0;i<data.length;i++){%>
<div class="mt-simpletree-item<%=(data[i]['__state__'].open?' mt-simpletree-item-close':'');%>">
    <div class="mt-simpletree-item-head" @cache(data[i])>
        <%if(data[i].list.length>0){%>
        <div class="mt-simpletree-item-arrow" data-bind="click:arrow">
            <svg class="mt-icon"><use xlink:href="#mt-icon-caret-down"></use></svg>
        </div>
        <%}%>
        <div class="mt-simpletree-item-select" data-bind="click:select">
            <%if(data[i]['__state__'].select){%>
            <svg class="mt-icon"><use xlink:href="#mt-icon-checkbox-checked"></use></svg>
            <%}else{%>
            <svg class="mt-icon"><use xlink:href="#mt-icon-checkbox-unchecked"></use></svg>
            <%}%>
        </div>
        <div class="mt-simpletree-item-name"><%=data[i].name;%></div>
    </div>
    <div class="mt-simpletree-item-body">
        <@self data="{{data[i].list}}"/>
    </div>
</div>
<%}%>