<!--[simpletree]-->
{{list data as item}}
<div class="mt-simpletree-item{{item['__state__'].open?' mt-simpletree-item-close':''}}">
    <div class="mt-simpletree-item-head" @cache(item)>
        {{if item.list.length>0}}
        <div class="mt-simpletree-item-arrow" data-bind="click:arrow">
            <svg class="t-icon"><use xlink:href="#t-icon-keyboard_arrow_down"></use></svg>
        </div>
        {{/if}}
        <div class="mt-simpletree-item-namec{{item['__state__'].active?' mt-simpletree-item-nameactive':''}}" data-bind="click:active">
            <span class="mt-simpletree-item-namec-a">{{item.name}}</span>
            {{if item['__state__'].num!==undefined}}
                <span class="mt-simpletree-item-namec-b">{{item['__state__'].num}}</span>
            {{/if}}
        </div>
    </div>
    <div class="mt-simpletree-item-bodyc">
        <@self data="{{item.list}}"/>
    </div>
</div>
{{/list}}
<!--[selecttree]-->
{{list data as item}}
<div class="mt-simpletree-item{{item['__state__'].open?' mt-simpletree-item-close':''}}">
    <div class="mt-simpletree-item-head" @cache(item)>
        {{if item.list.length>0}}
        <div class="mt-simpletree-item-arrow" data-bind="click:arrow">
            <svg class="t-icon"><use xlink:href="#t-icon-keyboard_arrow_down"></use></svg>
        </div>
        {{/if}}
        <div class="mt-simpletree-item-select" data-bind="click:select">
            {{if item['__state__'].select}}
            <svg class="mt-icon"><use xlink:href="#t-icon-check_box"></use></svg>
            {{else}}
            <svg class="mt-icon"><use xlink:href="#t-icon-check_box_outline_blank"></use></svg>
            {{/if}}
        </div>
        <div class="mt-simpletree-item-name{{item['__state__'].active?' mt-simpletree-item-nameactive':''}}" data-bind="click:active">
            <span class="mt-simpletree-item-namec-a">{{item.name}}</span>
            {{if item['__state__'].num!==undefined}}
                <span class="mt-simpletree-item-namec-b">{{item["__state__"].num}}</span>
            {{/if}}
        </div>
    </div>
    <div class="mt-simpletree-item-body">
        <@self data="{{item.list}}"/>
    </div>
</div>
{{/list}}